spring:
  application:
    name: gd-ai-0code-platform-backend
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.company.controller
# knife4j???????????????
knife4j:
  enable: true
  setting:
    language: zh_cn
#    http://localhost:8123/api